*{
    box-sizing:border-box;
    -webkit-tap-highlight-color:transparent;
}

body{

    margin:0;

    font-family:
    Arial,
    "Noto Sans Thai",
    sans-serif;

    background:
    radial-gradient(
        circle at top,
        #253b63,
        #101827 65%
    );

    color:white;

    min-height:100vh;

}


button{

    border:0;

    border-radius:14px;

    padding:15px 20px;

    margin:6px;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    background:#263a5c;

    color:white;

    transition:.15s;

}


button:active{

    transform:scale(.94);

}


.page{

    max-width:1000px;

    margin:auto;

    padding:25px;

    text-align:center;

}


.logo{

    padding-top:70px;

}


.logo-icon{

    font-size:80px;

}


.logo h1{

    font-size:45px;

    line-height:.9;

    letter-spacing:5px;

}


.logo h1 span{

    color:#67e8f9;

}


.logo p{

    color:#b7c8e8;

}


.menu-buttons{

    max-width:400px;

    margin:40px auto;

}


.menu-buttons button{

    display:block;

    width:100%;

    background:
    linear-gradient(
        135deg,
        #263d67,
        #182740
    );

    border:1px solid #4d6590;

}


.version{

    color:#7283a5;

}


.popup{

    position:fixed;

    inset:0;

    background:#000b;

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:100;

}


.hidden{

    display:none!important;

}


.popup-box{

    width:90%;

    max-width:500px;

    background:#17243b;

    padding:30px;

    border-radius:20px;

    text-align:center;

}


.characters,
.dungeons{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

    margin-top:30px;

}


.character-card,
.dungeon-card{

    width:300px;

    padding:25px;

    background:#17243b;

    border:1px solid #405579;

    border-radius:22px;

}


.character-icon,
.dungeon-image{

    font-size:80px;

}


.character-card button,
.dungeon-card button{

    width:90%;

    background:#1d8a9c;

}


.stat{

    background:#101827;

    margin:8px;

    padding:8px;

    border-radius:8px;

}


.locked{

    opacity:.7;

}


.back{

    background:#202d43;

    margin-top:30px;

}


.shop-coins{

    font-size:22px;

    margin:20px;

}


.shop{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:15px;

}


.item{

    background:#17243b;

    border:1px solid #405579;

    border-radius:18px;

    padding:20px;

    width:250px;

}


.item button{

    background:#1d8a9c;

}


#inventory{

    display:flex;

    flex-wrap:wrap;

    justify-content:center;

    gap:15px;

}


.inventory-item{

    background:#17243b;

    padding:20px;

    border-radius:15px;

    min-width:180px;

}
